body {
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    background-color: #f6f7fb; }
  
  a, a:hover {
    text-decoration: none; }
  
  .logo {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 800;
    display: flex;
    align-items: center;
    text-transform: uppercase; }
    .logo img {
      height: 45px;
      margin-right: 10px; }
  
  .admin-container {
    display: flex;
    height: 100vh; }
  
  .leftbar {
    width: 300px;
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    padding: 40px 30px;
    background: #FFFFFF;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    row-gap: 30px;
    flex-direction: column; }
    .leftbar a {
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 15px;
      display: block; }
      .leftbar a i {
        width: 24px;
        margin-right: 10px;
        font-size: 16px;
        text-align: center; }
      .leftbar a:hover {
        color: #000; }
      .leftbar a:active, .leftbar a.active {
        color: #951FB3; }
    .leftbar .accordion {
      border: 0px;
      padding: 0px;
      margin: 0px; }
      .leftbar .accordion .accordion-item {
        border: 0px;
        padding: 0px;
        margin: 0px 0 30px; }
        .leftbar .accordion .accordion-item .accordion-header .accordion-button {
          padding: 0px;
          margin-bottom: 15px;
          font-size: 15px;
          color: #000;
          font-weight: 700;
          line-height: 28px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
          .leftbar .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
            background-color: #FFFFFF;
            box-shadow: none; }
        .leftbar .accordion .accordion-item:first-of-type .accordion-button {
          border-radius: 0px; }
        .leftbar .accordion .accordion-item .accordion-body {
          padding: 0px; }
  
  .rightside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; }
  
  .topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background: #FFFFFF;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05); }
    .topbar .left {
      display: flex;
      column-gap: 30px; }
      .topbar .left .search {
        background-color: #F6F7FB;
        border-radius: 50px;
        display: flex;
        align-items: center;
        padding: 7px 10px; }
        .topbar .left .search input, .topbar .left .search button {
          border: 0px;
          background-color: transparent; }
        .topbar .left .search input {
          flex-grow: 1; }
          .topbar .left .search input:focus-visible {
            box-shadow: none;
            outline: none; }
        .topbar .left .search button {
          color: rgba(0, 0, 0, 0.5); }
      .topbar .left .navbar-nav .nav-link {
        color: rgba(0, 0, 0, 0.5);
        padding: 10px 15px; }
        .topbar .left .navbar-nav .nav-link:hover {
          color: #000; }
        .topbar .left .navbar-nav .nav-link:active, .topbar .left .navbar-nav .nav-link.active {
          color: #951FB3; }
      .topbar .left .navbar-nav .dropdown-menu {
        padding: 10px;
        font-size: 13px;
        border: 0px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05); }
    .topbar .right {
      display: flex;
      column-gap: 15px;
      align-items: center; }
      .topbar .right .notifications-bar a {
        color: #A3AED0;
        font-size: 20px;
        padding: 10px 15px; }
        .topbar .right .notifications-bar a:hover {
          color: #2B3674; }
      .topbar .right .profile-menu button {
        border: none;
        background-color: transparent;
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center; }
        .topbar .right .profile-menu button img {
          width: 38px;
          height: 38px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid #000;
          border-radius: 100px;
          margin-right: 10px; }
        .topbar .right .profile-menu button b {
          color: #000; }
  
  .page {
    padding: 30px 50px 0; }
    .page .page-title h1 {
      font-size: 34px;
      color: #2B3674;
      font-weight: 700;
      margin-bottom: 30px; }
    .page .page-title .admin-breadcrumb {
      color: #707EAE;
      font-weight: 600; }
      .page .page-title .admin-breadcrumb a {
        color: #707EAE; }
    .page .page-card {
      border-radius: 20px;
      overflow: hidden;
      padding: 30px;
      background-color: #fff;
      display: grid;
      row-gap: 24px; }
      .page .page-card .title {
        font-size: 24px;
        font-weight: 700;
        color: #2B3674;
        display: flex;
        justify-content: space-between;
        align-items: center; }
      .page .page-card .form-group label {
        color: #2B3674;
        font-weight: 500;
        margin-bottom: 10px; }
      .page .page-card .form-group .form-control::placeholder {
        color: #A3AED0; }
      .page .page-card .form-group .form-control-lg {
        border-radius: 16px;
        font-size: 14px;
        border-color: #E0E5F2;
        padding: 14px 20px; }
  
  .footer {
    color: #A3AED0;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .footer a {
      color: #A3AED0; }
    .footer .links a {
      padding: 0 20px; }
      .footer .links a:hover {
        color: #2B3674; }
    .footer .links a:last-child {
      padding-right: 0px; }
  
  .btn-1 {
    background-color: #9A3EEB;
    padding: 8px 24px;
    display: inline-block;
    border-radius: 16px;
    color: #fff; }
    .btn-1:hover {
      background-color: #742ea4;
      color: #fff; }
  
  .btn-2 {
    background-color: #805AD5;
    padding: 8px 24px;
    display: inline-block;
    color: #fff; }
    .btn-2:hover {
      background-color: #742ea4;
      color: #fff; }
  
  .tag, .btn-xs {
    line-height: 28px;
    padding: 0 15px;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    border-radius: 20px; }
    .tag i, .btn-xs i {
      margin-right: 5px; }
  
  .tag.tag-green {
    background-color: #00cd00;
    color: white; }
  
  .btn-xs.btn-1 {
    background-color: #faf6fc;
    color: #73299A; }
  .btn-xs.btn-2 {
    background-color: #faf5fe;
    color: #9A3EEB; }
  .btn-xs.btn-3 {
    background-color: #faf6fc;
    color: #D43396; }
  .btn-xs.btn-4 {
    background-color: #00CD00;
    color: #fff; }
  
  .data-box {
    display: grid;
    row-gap: 15px; }
    .data-box .data-row {
      display: flex;
      align-items: center;
      color: rgba(0, 0, 0, 0.5); }
      .data-box .data-row label {
        min-width: 130px;
        margin-right: 20px;
        font-weight: 600;
        color: #000; }
        .data-box .data-row label::after {
          content: ":"; }
  
  .fs-13 {
    font-size: 13px; }
  
  .form-check-input:checked {
    background-color: #805AD5;
    border-color: #805AD5; }
  
  .data-table {
    font-weight: 600;
    color: #2B3674; }
    .data-table .dt-column-title {
      color: #A3AED0; }
  
  table.dataTable > thead > tr > th,
  table.dataTable > thead > tr > td {
    border-color: rgba(0, 0, 0, 0.1); }
  
  div.dt-container.dt-empty-footer tbody > tr:last-child > * {
    border: 0px; }
  
  /*# sourceMappingURL=style.css.map */
  
  
  